{% load cart_tags %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<h1 class="d-block text_align_left">
	<span class="text-muted">Tu carrito</span>
	<span class="badge badge-info badge-pill">
		{{ cantidad }}
	</span>
</h1>
{% if request.session.cart.items %}
		<div class="row border-bottom text_align_center" style="">
			<div class="d-none d-sm-none d-md-none d-lg-block col-lg-3"><h4 class="text-dark">Producto</h4></div>
			<div class="d-none d-sm-none d-md-none d-lg-block col-lg-3"><h4 class="text-dark">Descripción</h4></div>
			<div class="d-none d-sm-none d-md-none d-lg-block col-lg-3"><h4 class="text-dark">Cantidad</h4></div>
			<div class="d-none d-sm-none d-md-none d-lg-block col-lg-3"><h4 class="text-dark font-weight-bold">Subtotal</h4></div>
		</div>
		{% for key, value in request.session.cart.items %}
			{% if value.tipo == 'producto' %}
				{% include 'pedidos/carrito/productos.html' %}
			{% endif %}

			{% if value.tipo == 'combo' %}
				{% include 'pedidos/carrito/combos.html' %}
			{% endif %}

			{% if value.tipo == 'giftcard' %}
				{% include 'pedidos/carrito/giftcards.html' %}
			{% endif %}
		{% endfor %}
		{% if ban_cod == True %}
		<div class="row bg-light pt-3" >
			<div class="col-9 text_align_left pt-3 pt-md-0" ><h1
					class="text-dark font-weight-bold d-none d-sm-none d-md-none d-lg-block">Codigo de descuento {{ codigo_descuento.valor }}% <br><p>Código: {{ codigo_descuento.codigo }}</p></h1>
				<div class="d-block d-sm-block d-md-block d-lg-none"><h1 class="display-4 font-weight-bold">Codigo de descuento {{ codigo_descuento.valor }}% <br><p>Código: {{ codigo_descuento.codigo }}</p></h1></div>
			</div>
			<div class="col-3 font-weight-bold text_align_center pb-3 pb-md-0 ">
				<h2 class="d-none d-sm-none d-md-none d-lg-block" style="color: #138496">- ${{ total_carrito|mdescod:codigo_descuento.valor|separador }}</h2>
				<div class="d-block d-sm-block d-md-block d-lg-none"><h1 class="display-4 font-weight-bold" style="color: #138496">- ${{ total_carrito|mdescod:codigo_descuento.valor|separador }}</h1></div>
			</div>
		</div>
		{% endif %}
		{% if ban_gif == True %}
		<div class="row bg-light" >
			<div class="col-9 text_align_left pt-3 pt-md-0" ><h1
					class="text-dark font-weight-bold d-none d-sm-none d-md-none d-lg-block">Giftcard <br><p>Número de giftcard: {{ giftcard.nro_tarjeta }}</p></h1>
				<div class="d-block d-sm-block d-md-block d-lg-none"><h1 class="display-4 font-weight-bold">Giftcard <br><p>Número de giftcard: {{ giftcard.nro_tarjeta }}</p></h1></div>
			</div>
			<div class="col-3 font-weight-bold text_align_center pb-3 pb-md-0 ">
				<h2 class="d-none d-sm-none d-md-none d-lg-block" style="color: #138496">- {{ giftcard.giftcard.preciofinal|separador|money_format:"$" }}</h2>
				<div class="d-block d-sm-block d-md-block d-lg-none"><h1 class="display-4 font-weight-bold" style="color: #138496">- {{ giftcard.giftcard.preciofinal|separador|money_format:"$" }}</h1></div>
			</div>
		</div>
		{% endif %}
		<div class="row bg-dark pt-3" >
			<div class="col-8 text_align_left pt-3 pt-md-0" ><h1
					class="text-white font-weight-bold d-none d-sm-none d-md-none d-lg-block">Total del carrito</h1>
				<div class="d-block d-sm-block d-md-block d-lg-none"><h1 class="text-white display-4 font-weight-bold">Total del carrito</h1></div>
			</div>
			<div class="col-4 font-weight-bold text_align_right pb-3 pb-md-0 ">
				<h2 class="d-none d-sm-none d-md-none d-lg-block text-white">
					{% if ban_cod == True and ban_gif == True %}
						{{ total_carrito|descod:codigo_descuento.valor|desgif:giftcard.giftcard.preciofinal|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == True and ban_gif == False %}
						{{ total_carrito|descod:codigo_descuento.valor|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == False and ban_gif == True %}
						{{ total_carrito|desgif:giftcard.giftcard.preciofinal|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == False and ban_gif == False %}
						{{ total_carrito|separador|money_format:"$" }}
					{% endif %}
				</h2>
				<div class="d-block d-sm-block d-md-block d-lg-none">
					<h1 class="display-4 font-weight-bold text-white">
						{% if ban_cod == True and ban_gif == True %}
						{{ total_carrito|descod:codigo_descuento.valor|desgif:giftcard.giftcard.preciofinal|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == True and ban_gif == False %}
						{{ total_carrito|descod:codigo_descuento.valor|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == False and ban_gif == True %}
						{{ total_carrito|desgif:giftcard.giftcard.preciofinal|separador|money_format:"$" }}
					{% endif %}
					{% if ban_cod == False and ban_gif == False %}
						{{ total_carrito|separador|money_format:"$" }}
					{% endif %}
					</h1>
				</div>
			</div>
		</div>

		<form id="form" class="form-group margin-top_20 margin-bottom_20" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-6">
					<p>Código de descuento</p>
				</div>
				<div class="col-6">
					<p>¿Tenes un giftcard?</p>
				</div>
			</div>
			<div class="row margin-bottom_20">
				<div class="col-6 border-right">
					{{ form.coddescuento }}
					<small>Ingrese su cupón/código de descuento</small>
				</div>
				<div class="col-4">
					{{ form.nrotarjetagiftcard }}
					<small>Ingrese su número de tarjeta de 8 dígitos</small>
				</div>
				<div class="col-2">
					{{ form.codseggiftcard }}
					<small>Código de seguridad</small>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text_align_center"><button class="button btn btn-block btn-outline-info rounded-0 pr-5 pl-5" type="submit">Aplicar al carrito</button></div>
			</div>

		</form>

	{% else %}
		<div class="container-fluid margin-bottom_30 margin-top_30">
			<div class="alert alert-light text_align_center" role="alert">
				<h1 class="alert-heading display-4" style="color: #138496; font-family: Raleway, sans-serif"> {{ user.username|titulo }} ❤</h1>
					<p style="font-family: Raleway, sans-serif">No tienes productos en el carrito. Debes llenar tu carrito primero, y luego podrás realizar el pedido correspondiente.</p>
				<hr>
				<p class="mb-0"><a href="{% url 'listado_productos' %}">
					<button class="btn btn-outline-info btn-block rounded-0">Añadir productos a mi carrito</button>
				</a></p>
			</div>
		</div>
	{% endif %}

