{% extends 'carrito/tienda.html' %}
{% load cart_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
	<div class="card border-0 rounded-0 d-block mt-xl-5">
		<img src="{% static 'banner/bannerGenerico2.png' %}" class="card-img" alt="...">
		<div class="card-img-overlay">
			<h5 class="display-4" style="color: white;">Recuperar contraseña</h5>
		</div>
	</div>

	<nav class="padding_0" aria-label="breadcrumb">
		<ol class="breadcrumb" style="margin-bottom: 0px">
			<li class="breadcrumb-item"><a href="{% url 'carrito' %}">Inicio</a></li>
			<li class="breadcrumb-item active" aria-current="page">Recuperar contraseña</li>
		</ol>
	</nav>


	{% include 'mensajes/messages.html' %}

	<div class="container-xl margin-bottom_30 margin-top_30">
		{% if validlink %}
			<div class="alert alert-light text_align_center" role="alert" >
				<h1 class="alert-heading display-4" style="color: #138496; font-family: Raleway, sans-serif">Nueva contraseña ❤</h1>
				<hr>
				<form method="post" class="form-group">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="row">
						<div class="col-12 margin-top_20">
							<hr><button type="submit" class="btn btn-outline-info rounded-0 border-info">Cambiar mi contraseña</button>
						</div>
					</div>
				</form>
			</div>
		{% else %}
			<div class="alert alert-light text_align_center" role="alert" style="padding-top: 5%; padding-bottom: 5%">
				<h1 class="alert-heading display-4" style="color: #138496; font-family: Raleway, sans-serif">Enlace inválido :(</h1>
				<p style="font-family: Raleway, sans-serif">Hubo un error con el enlace, el token es inválido o ya se ha utilizado.</p>
				<p class="mb-0"><br>Haz clic en el siguiente botón, para poder generar un nuevo enlace de cambio de contraseña! :)</p>
				<hr>
				<p class="mb-0"><a href="{% url 'password_reset' %}">
					<button class="btn btn-outline-info btn-block rounded-0">Crear nueva contraseña</button>
				</a></p>
			</div>
		{% endif %}
	</div>

{% endblock %}