{% extends 'carrito/tienda.html' %}
{% load cart_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
	<div class="card border-0 rounded-0 d-block mt-xl-5">
		<img src="{% static 'banner/bannerGenerico2.png' %}" class="card-img" alt="...">
		<div class="card-img-overlay">
			<h5 class="display-4" style="color: white;">Recuperar contraseña</h5>
		</div>
	</div>

	<nav class="padding_0" aria-label="breadcrumb">
		<ol class="breadcrumb" style="margin-bottom: 0px">
			<li class="breadcrumb-item"><a href="{% url 'carrito' %}">Inicio</a></li>
			<li class="breadcrumb-item active" aria-current="page">Recuperar contraseña</li>
		</ol>
	</nav>


	{% include 'mensajes/messages.html' %}

	<div class="container-xl margin-bottom_30 margin-top_30">
		<div class="row">
			<div class="col-12">
				<form class="form-group" method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-outline-info rounded-0 border-info">Enviar</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}