{% extends 'carrito/tienda.html' %}
{% load cart_tags %}
{% load static %}
{% block title %}Confirmación{% endblock %}

{% block content %}
	<div class="card border-0 rounded-0 d-block mt-xl-5">
		<img src="{% static 'banner/bannerGenerico2.png' %}" class="card-img" alt="...">
		<div class="card-img-overlay">
			<h5 class="display-4" style="color: white;">Confirmación de cuenta</h5>
		</div>
	</div>

	<nav class="padding_0" aria-label="breadcrumb">
		<ol class="breadcrumb" style="margin-bottom: 0px">
			<li class="breadcrumb-item"><a href="{% url 'listado_productos' %}">Shop</a></li>
			<li class="breadcrumb-item active" aria-current="page">Confirmación de cuenta</li>
		</ol>
	</nav>


	{% include 'mensajes/messages.html' %}

	<div class="container-xl margin-bottom_30 margin-top_30">
			<div class="alert alert-light text_align_center" role="alert" style="padding-top: 5%; padding-bottom: 5%">
				<h1 class="alert-heading display-4" style="color: #138496; font-family: Raleway, sans-serif">Nuevo token generado ❤</h1>
				<p style="font-family: Raleway, sans-serif">
					Se ha generado con éxito un nuevo token, buscar nuevamente en el correo, el mail de confirmación y haz clic en el link que aparece para validar tu cuenta.
					Si no encontras el mail, buscá en la sección de spam o en la de correo no deseado. Hasta que no actives tu cuenta, no vas a poder ingresar al sistema :(</p>
				<p class="mb-0">Vamos! Ya falta poco! ;)</p>
				<hr>
				<p class="mb-0"><a href="{% url 'carrito' %}">
					<button class="btn btn-outline-info btn-block rounded-0">Ir a inicio Maddie</button>
				</a></p>
			</div>
	</div>

{% endblock %}



