{% extends 'carrito/tienda.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Box Gifts{% endblock %}


{% block content %}
	<div class="card rounded-0 mt-5 border-0" >
		<img src="{% static '/banner/bannerGenerico.png' %}" style="width: 100%; height: auto" class="card-img rounded-0" alt="...">
		<div class="card-img-overlay rounded-0 d-none d-sm-none d-md-none d-lg-none d-xl-block">
			<h5 class="display-3" style="color: white;">Box Gifts</h5>
		</div>
		<div class="card-img-overlay rounded-0 d-none d-sm-none d-md-block d-lg-block d-xl-none">
			<h5 class="display-4" style="color: white;">Box Gifts</h5>
		</div>
		<div class="card-img-overlay rounded-0 d-block d-sm-block d-md-none d-lg-none d-xl-none">
			<h1 style="color: white;">Box Gifts</h1>
		</div>
	</div>
	<nav aria-label="breadcrumb rounded-0" class="padding_0">
		<ol class="breadcrumb rounded-0">
			<li class="breadcrumb-item"><a href="{% url 'carrito' %}">Inicio</a></li>
			<li class="breadcrumb-item active" aria-current="page">Box Gifts</li>
		</ol>
	</nav>

	{% include 'mensajes/messages.html' %}

	<div class="container-fluid border border-top border-bottom border-right border-left shadow-sm p-3 mb-3 bg-white">
		<div class="container-xl">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  mt-2 mt-xl-0 border-right">
					<form class="" method="get">
						<div class="form-group">
							<div class="row">
								<div class="col-12">
									<h3 class="">Por palabra/texto</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<input class="form-control-lg form-control rounded-0 border-info" style="margin-top: 0px" type="search" placeholder="Ingrese una palabra" aria-label="Search" name="buscar" value="{{ request.GET.buscar }}" required>
								</div>
								<div class="col-4">
									<button class="btn btn-outline-info btn-lg btn-block rounded-0 border-info" type="submit">Buscar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-2 mt-xl-0">
					<form class="form" method="get">
						<div class="form-group">
							<div class="row">
								<div class="col-12">
									<h3>Por rango de precio</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<input class="form-control form-control-lg rounded-0 border-info" style="" type="Precio inicio" placeholder="Desde" aria-label="Search" name="precio1" value="{{ request.GET.precio1 }}" required>
								</div>
								<div class="col-4">
									<input class="form-control rounded-0 form-control-lg border-info" style="" type="Precio fin" placeholder="Hasta" aria-label="Search" name="precio2" value="{{ request.GET.precio2 }}" required>
								</div>
								<div class="col-4"><button class="btn btn-block btn-outline-info btn-lg rounded-0 border-info" type="submit">Buscar</button></div>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="row margin-bottom_10 margin-top_20 padding_0">
				<div class="col-12 col-md-12 col-lg-12">
					<form method="get">
						<button type="submit" name="todos" class="btn btn-lg btn-block btn-outline-light text-info rounded-0 border-info">Mostrar todos los giftcards</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container-xl">
		{% for codigo in mostrar_codigos %}
		<div class="row alert alert-light text_align_center border-bottom border-top rounded-0">
			<div class="col-12">
				<h1 class="display-4 text-info">Código de descuento <h1 class="mb-0 padding_0 font-weight-bold">{{ codigo.codigo }}</h1></h1>
				<hr>
				<p class="mb-0 padding_0">Aprovecha el descuento del %{{ codigo.valor }} en tus compras</p>
				<p class="mb-0 padding_0">Válido desde el {{ codigo.fecha_inicio }} hasta el {{ codigo.fecha_fin }}</p>
			</div>
		</div>
		{% endfor %}
	</div>


	{% include 'mensajes/messages.html' %}

	<div class="container-xl">
		<div class="row">
		<div class="col-12">
			<div class="row">
				{% for combo in combos %}
					<div class="col-12 col-md-6 col-lg-3 col-xl-3">
						<div class="card rounded-0 shadow-sm" style="width: 100%; margin-bottom: 10%">
							<img src="{% if combo.imagen %}{{ combo.imagen.url }}{% else %}{% static 'banner/no-disponible.jpg' %}{% endif %}" style="width:100%;" class="card-img-top"
							     alt="{{ combo.nombre }}"/>
							<div class="card-body">
								<h1 class="card-title">{{ combo.nombre }}</h1>
								<h2 class="card-text">{% if combo.preciofinal != None %}{{ combo.preciofinal|separador|money_format:'$' }}{% else %}Precio pendiente{% endif %}</h2>
								<div class="row">
									<div class="col-12 padding_0">
										<a href="{% url 'detalle_combo' combo.id %}" class="btn btn-sm btn-block btn-outline-secondary rounded-0">
										Ver detalles
										</a>
									</div>
								</div>
							</div>
							{% if user.is_authenticated %}
								<div class='card-footer'>
									<div class="row">
										<div class="col-12 padding_0">
											<a href="{% url 'add_combo' combo.id %}" class="btn btn-sm btn-block btn-outline-info rounded-0">
												Agregar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                                                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
														<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
														</svg>
											</a>
										</div>
									</div>
								</div>
							{% else %}
								<div class='card-footer text-center'>
									<a tabindex="0" class="btn btn-lg btn-outline-danger rounded-0 border-danger" >
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-x-fill"
										     fill="currentColor"
										     xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
											      d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
										</svg>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% empty %}
					<div class="col-12 mb-xl-5 mt-xl-5">
						<div class="d-block alert alert-info text-info text_align_center">
							<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-dizzy-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM8 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
								</svg><br>
							No existen BoxGifts disponibles por el momento
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="container-lg padding_left_right">
		{% include 'paginacion/paginacion.html' %}
		</div>
	</div>
	</div>



{% endblock %}