{% extends "pedidos/checkout_base.html" %}
{% load static %}
{% block title %} Pagar con mercado pago {% endblock %}

{% block content %}
	<div class="container-xl p-5 mt-3 mb-3 shadow rounded-0 bg-white" >
		{% include 'mensajes/messages.html' %}
		<div class="row text_align_center">
			<div class="col"><a href="{{ url }}" name="MP-Checkout" class="btn btn-block btn-primary"><p class="display-4 text-white">Pagar con Mercado Pago</p></a></div>
		</div>
	</div>
	<script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>
{% endblock %}
